.django_json_schema_editor {
  clear: both;
  flex-grow: 1;
}

.django_json_schema_editor > textarea {
  display: none;
}

.django_json_schema_editor
  > :not([data-schematype="array"])
  > .je-header:first-child {
  display: none;
}

.django_json_schema_editor .je-object__controls {
  margin: 0;
  padding: 4px 0;
}

.django_json_schema_editor .button {
  padding: 5px 10px;
}

.django_json_schema_editor .form-control {
  padding: 0.5rem 0;
  border-bottom: 1px solid var(--hairline-color);
}

.django_json_schema_editor .indented-panel {
  margin: 10px 0;
}

.django_json_schema_editor [data-schematype="boolean"] .form-control label {
  float: none;
  width: auto;
}

.django_json_schema_editor
  [data-schematype="boolean"]
  .form-control
  input[type="checkbox"] {
  margin-right: 0.5rem;
}

/*
 * ARRAYS (TABLES & TABS)
 */

.django_json_schema_editor [data-schematype="array"] .indented-panel {
  margin: 0;
}

.django_json_schema_editor [data-schematype="array"] .je-button-holder {
  display: inline-flex;
  gap: 4px;
  padding: 4px 8px;
}

.django_json_schema_editor .je-modal textarea {
  min-width: min(70vw, 300px);
  min-height: 150px;
}
.django_json_schema_editor .je-modal .button {
  margin-right: 4px;
}

.django_json_schema_editor [data-schematype="array"] > h3.je-header {
  display: flex;
  background: var(--primary) !important;
  align-items: center;
  padding: 3px 10px 0 10px;
}

.django_json_schema_editor [data-schematype="array"] > h3.je-header label {
  padding: 0;
}

.django_json_schema_editor [data-schematype="array"] > .je-header label {
  color: var(--body-bg);
}

.django_json_schema_editor [data-schematype="array"] > .je-header .button {
  border: 1px solid var(--body-bg);
  margin: 0 0.3rem;
}

/*
 * ARRAYS (TABLES)
 */

.django_json_schema_editor [data-schematype="array"] table {
  width: 100%;
}

.django_json_schema_editor .je-textarea {
  height: 70px;
}
.django_json_schema_editor .je-textarea,
.django_json_schema_editor [data-schematype="string"] input {
  width: calc(100% - 16px);
}

.django_json_schema_editor [data-schematype="boolean"] .form-control {
  padding-top: 4px;
}

.django_json_schema_editor table .form-control {
  padding: 0;
  border: none;
}

/*
 * ARRAYS (TABS)
 */

.django_json_schema_editor .je-tab-holder {
  display: flex;
  align-items: stretch;
  border: 1px solid var(--body-bg);
}

.django_json_schema_editor .je-tab-holder > .je-tabs {
  padding: 10px;
  min-width: 10%;
  background-color: var(--darkened-bg);
}

.django_json_schema_editor .je-tab-holder > .je-content {
  flex-grow: 1;
  padding: 0.5rem;
}

.django_json_schema_editor .je-tab-holder > .je-tabs .je-tab {
  margin: 0;
  padding: 0 0.5rem;
  border-radius: 3px;
}

.django_json_schema_editor .je-tab-holder > .je-tabs .je-tab.active {
  background: var(--primary) !important;
  color: var(--body-bg);
}

.django_json_schema_editor .row {
  display: flex;
  flex-flow: row wrap;
}
