.jsoneditorwidget {
  clear: both;
}

.jsoneditorwidget .je-object__controls {
  margin: 0;
}

.jsoneditorwidget .button {
  margin: 0 0.3rem;
  padding: 5px 10px;
}

.jsoneditorwidget .je-textarea {
  width: 610px;
  height: 100px;
  max-width: 100%;
}

.jsoneditorwidget .form-control {
  padding: 0.5rem 0;
  border-bottom: 1px solid var(--hairline-color);
}

.jsoneditorwidget .indented-panel {
  margin: 10px;
}

.jsoneditorwidget [data-schematype="boolean"] .form-control label {
  float: none;
}

.jsoneditorwidget
  [data-schematype="boolean"]
  .form-control
  input[type="checkbox"] {
  margin-right: 0.5rem;
}

/*
 * ARRAYS (TABLES & TABS)
 */

.jsoneditorwidget [data-schematype="array"] .indented-panel {
  margin: 0;
}

.jsoneditorwidget [data-schematype="array"] .je-button-holder {
  display: inline-block;
  padding: 6px;
  margin-left: auto;
}

.jsoneditorwidget [data-schematype="array"] > h3.je-header {
  display: flex;
  background: var(--primary) !important;
  align-items: center;
  padding: 0 10px;
}

.jsoneditorwidget [data-schematype="array"] > h3.je-header label {
  padding: 0;
}

.jsoneditorwidget [data-schematype="array"] > .je-header label {
  color: var(--body-bg);
}

.jsoneditorwidget [data-schematype="array"] > .je-header .button {
  border: 1px solid var(--body-bg);
  margin: 0 0.3rem;
}

/*
 * ARRAYS (TABLES)
 */

.jsoneditorwidget [data-schematype="array"] table {
  width: 100%;
}

.jsoneditorwidget table .je-textarea {
  height: 50px;
  width: 300px;
}

.jsoneditorwidget table .form-control {
  padding: 0;
  border: none;
}

.jsoneditorwidget [data-schematype="string"] input {
  min-width: 95%;
}

/*
 * ARRAYS (TABS)
 */

.jsoneditorwidget .je-tab-holder {
  display: flex;
  align-items: stretch;
  border: 1px solid var(--body-bg);
}

.jsoneditorwidget .je-tab-holder > .je-tabs {
  padding: 10px;
  min-width: 10%;
  background-color: var(--darkened-bg);
}

.jsoneditorwidget .je-tab-holder > .je-content {
  flex-grow: 1;
  padding: 0.5rem;
}

.jsoneditorwidget .je-tab-holder > .je-tabs .je-tab {
  margin: 0;
  padding: 0 0.5rem;
  border-radius: 3px;
}

.jsoneditorwidget .je-tab-holder > .je-tabs .je-tab.active {
  background: var(--primary) !important;
  color: var(--body-bg);
}

.jsoneditorwidget .row {
  display: flex;
  flex-flow: row wrap;
}
